<div class="text-center">
  <button
    class="btn-primary"
    (click)="btnDisplayDetail()"
    >Display Details</button>
  <div class="boxed">
    <p *ngIf="paragraphToggle"> Secret Password = tuna" </p>
  </div>
</div>

<div
  *ngFor="let timeLog of timeLogs; let i = index"
  [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
  [ngClass]="{'white-text': i >= 4}"
>
<p> {{timeLog}} </p>

</div>

